@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap')

html
  font-size: 10px
  font-family: 'Roboto Mono', monospace
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

*,
*:before,
*:after
  margin: 0
  padding: 0
  -webkit-box-sizing: inherit
  -moz-box-sizing: inherit
  box-sizing: inherit
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

label
  display: flex
  font-size: 18px
  align-self: center
  text-transform: uppercase
  padding: 0 10px
  min-width: 100px

  span:hover
    color: #268bd2

  input[type=checkbox]
    display: block
    justify-self: center
    align-self: center
    width: 24px
    height: 24px
    margin: 0 0 0 5px

.temp
  width: 1px
  height: 1px
  overflow: hidden
